<% unless comments == nil %>
  <% comments.each do |comment| %>
    <div class="d-flex justify-content-start">
      <div class="align-self-center ml-3">
        <% if comment.user.image.present? %>
          <%= image_tag comment.user.image.url, class:"avatar-m" %>
        <% else %>
          <%= image_tag 'default_avatar', class:"avatar-m" %>
        <% end %>
      </div>
      <div class="align-self-center">
        <%= comment.content %>
      </div>
    </div>
  <% end %>
<% end %>
