@import "./variables";

textarea{
  font-size: 16px;
}

.comment-form{
  border:0;
  font-size:16px;
  border-radius:5px;
  width:300px;
  color: $f_color1;
}

#comment-error{
  font-size:0.7rem;
  color:red;
}


#comments_index{
  max-width:400px;
  max-height:400px;
  padding:10px;
  border-radius: 15px;
  .comment-wrapper{
    max-width:350px;
    margin:0 0 10px 0;
    background: #ffffff;
    border-radius: 15px;
    p{
      font-size: 0.8rem;
    }
  }
}
