// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#mask {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1200;
}

#comment_modal{
  position: fixed;
  top: 10vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translate(0, 0) scale(1);
  transition: 0.2s;
  z-index: 1300;
  width: 500px;
}

#mask.hidden {
  opacity: 0;
  visibility: hidden;
}

#comment_modal.hidden{
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 0) scale(0.8);
}

#comment_form{
  background: #ffffff;
  z-index: 1350;
}
