
body {
  background: #f5f5dc;
}

header {
  background: #eee8aa;
}

h1{
  font-size: 1.7rem;
}
h2{
  font-size: 1.3rem;
}

a:link { color: #000000; }
a:visited { color: #000080; }
a:hover { color: #000000; }
a:active { color: #000000; }

#mapid {
  border-radius: 20px;
}

#mapid2 {
  border-radius: 20px
}

.map-index {
  width: 100%;
  height: 500px;
}

.map-mypage {
  width: 100%;
  height: 400px;
}

.search-bar {
  min-width: 400px;
}

.category {
  background: #e6e6fa;
  display: inline-block;
  padding: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
}

.like img{
  width:20px;
  height:20px;
}

.dislike img{
  width:20px;
  height:20px;
}

.category-input input {
  opacity: 0;
}
.category-input label {
  background: #e6e6fa;
  padding: 5px 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 15px;
}

.category-input input:checked + label{
  background-color: #9b9bf7;
  color: #ffffff;
}

.module {
  background: #ffffff;
  border-radius: 15px;
}

#new_event_modal,#new_mylocation_modal{
  position: fixed;
  top: 10vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translate(0, 0) scale(1);
  transition: 0.2s;
  z-index: 1300;
  width: 500px;
}

#edit_event_modal{
  position: fixed;
  top: 10vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translate(0, 0) scale(1);
  transition: 0.2s;
  z-index: 1300;
  width: 700px;
}

#show_event_modal{
  position: fixed;
  top: 10vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translate(0, 0) scale(1);
  transition: 0.2s;
  z-index: 1300;
  width: 700px;
}

#new_event_modal.hidden, #new_mylocation_modal.hidden, #edit_event_modal.hidden,#show_event_modal.hidden{
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 0) scale(0.8);
}

.modal-wrapper{
  background: #ffffff;
}

.event-card {
  width:250px;
  height:250px;
}
.card-link {
  display: block;
}

.font-s{
  font-size: 0.75rem;
}


//ユーザ関連
.post-image-area{
  position: relative;
  height:100px;
}

@mixin imageBox{
  height: 100px;
  width: 100px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
}

#post-image{
  @include imageBox;
  z-index: 1;
}

.choice-box{
  @include imageBox;
  background-color: #d3d3d3;
  pointer-events: none;
  line-height: 100px;
  text-align: center;
  z-index: 2;
  border: 2px dashed black;
}

.current-image{
  position: absolute;
  top: 0;
  left: 100px;
}

.avatar-m {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: #ffffff;
}
