
body {
  background: #f5f5dc;
}

header {
  background: #eee8aa;
}

h1{
  font-size: 1.7rem;
}
h2{
  font-size: 1.3rem;
}

a:link { color: #000000; }
a:visited { color: #000080; }
a:hover { color: #000000; }
a:active { color: #000000; }

#mapid {
  border-radius: 20px;
}

.map-index {
  width: 100%;
  height: 500px;
}

.search-bar {
  min-width: 400px;
}

.category {
  background: #e6e6fa;
  display: inline-block;
  padding: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
}

.like img{
  width:20px;
  height:20px;
}

.dislike img{
  width:20px;
  height:20px;
}

.category-input input {
  opacity: 0;
}
.category-input label {
  background: #e6e6fa;
  padding: 5px 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 15px;
}

.category-input input:checked + label{
  background-color: #9b9bf7;
  color: #ffffff;
}

.module {
  background: #ffffff;
  border-radius: 15px;
}

#new_event_modal{
  position: fixed;
  top: 10vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translate(0, 0) scale(1);
  transition: 0.2s;
  z-index: 1300;
  width: 500px;
}

.modal-wrapper{
  background: #ffffff;
}
