@import "./variables";

@mixin imagebox($height: 100px, $width:100px){
  height: $height;
  width: $width;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes fadein {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@keyframes fadeout {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

//PC画面表示時
@media screen and (min-width: 768px){
   input{
    font-size: 1rem;
   }
  html{
    font-size:13px;
  }
  .btn-gNav{
    display: none;
  }

  #logo img{
    width:200px;
    margin-left:10px;
    position:fixed;
    top:10px;
    left:10px;
  }

  #new_event_modal{
    width:70%
  }

  #gNav{
    width:100%;
    background: $bg_color2;
    height: 50px;
    z-index:1010;
  }
  #gNav .gNav-menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin:0;
    list-style: none;
    background: $bg_color2;
    height:60px;
  }
  #gNav .gNav-menu li{
    display:block;
    font-size: 0.8rem;
    color:$f_color1;
    background: $bg_color1;
    margin:7px;
    padding:5px 10px;
    border-radius: 15px;
    &:hover{
      background: $ac_color;
      a{
          color:$f_color2;
        }
    }
  }
  .help{
    .help-description{
      visibility: hidden;
      display: inline-block;
      width:200px;
      padding:10px;
      position:absolute;
      background: $bg_color2;
      border-radius: 5px;
      color:$f_color1;
      font-size: 0.7rem;
      left:-60px;
      top:50px;
      z-index: 1002;
      box-shadow: 10px;
    }
    &:hover{
      a{
        background:$ac_color;
        color:$f_color2;
      }
      .help-description{
        visibility: visible;
      }
    }

  }
  #show_event_modal{
    width: 700px;
  }
  #mapid2{
    width:700px;
    height:200px;
    padding:0;
    margin:0;
  }
}


@media screen and (max-width:768px){
  html{
    font-size:11px;
  }

  input{
    font-size: 16px;
  }

  textarea{
    font-size: 16px;
  }

  #logo img{
    width:150px;
    position:fixed;
    top:10px;
    left:10px;
  }

  #qrcode{
    display:none;
  }

  .fix-bottom{
    margin:5 0;
    position:fixed;
    bottom:5px;
    right:3px;
  }

  #new_event_modal,#new_mylocation_modal{
    width:90%;
    height:100%;
  }

  #edit_event_modal{
    position: fixed;
    top: 5rem;
    width:90%;
    height:650px;
  }


  #hamburger .btn-gNav{
    position: fixed;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 24px;
    z-index: 1101;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-transition: all 400ms;
    transition: all 400ms;
  }

  #hamburger .btn-gNav span{
    position: absolute;
    width: 100%;
    height: 4px;
    background: #666;
    border-radius: 10px;
    -webkit-transition: all 400ms;
    transition: all 400ms;
  }
  #hamburger .btn-gNav span:nth-child(1) {
    top:0;
  }
  #hamburger .btn-gNav span:nth-child(2) {
    top:10px;
  }
  #hamburger .btn-gNav span:nth-child(3) {
    top:20px;
  }
  #hamburger .btn-gNav.open span:nth-child(1){
    background: #fff;
    top: 6px;
    -webkit-transform: rotate(-45deg);
    -moz-transform   : rotate(-45deg);
    transform        : rotate(-45deg);
  }
  #hamburger .btn-gNav.open span:nth-child(2),#hamburger .btn-gNav.open span:nth-child(3){
    top: 6px;
    background :#fff;
    -webkit-transform: rotate(45deg);
    -moz-transform   : rotate(45deg);
    transform        : rotate(45deg);
  }
  #gNav{
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background: #444;
    font-size: 16px;
    box-sizing: border-box;
    padding-top: 50px;
    transition: .3s;
  }
  #gNav.open{
    right: 0px;
  }
  #gNav .gNav-menu{
    width: 100%;
    height:400px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    z-index: 1001;
    padding:0;

  }
  #gNav .gNav-menu li{
    display: block;
    padding : 20px 30px;
  }
  #gNav .gNav-menu li a{
    color: #ddd;
    text-decoration: none;
  }

  li{
    list-style: none;
  }

  #show_event_modal{
    width: 350px;
  }
  #mapid2{
    width:350px;
    height:200px;
    padding:0;
    margin:0;
  }
}



//全ページで適用
#hamburger{
  background: $bg_color2;
  min-height: 60px;
  width:100%;
  position:fixed;
  z-index:1001;
  box-shadow: 0px 0px 16px -6px rgba(0,0,0,0.6);
  margin: 0;

}

body {
  font-family: "Hiragino Maru Gothic Pro";
  min-height: 100vh;
  width:100%;
  position:relative;
  background: $bg_color1;
  color: $f_color1;
}

input{
  color:$f_color1;
}
textarea{
  color:$f_color1;
}

.spacing-header{
  height:50px;
}

#content-area{
  margin:0 0 100px 0;
}

h1{
  font-size: 1.7rem;
}
h2{
  font-size: 1.3rem;
}

a {
  &:link { color: $f_color1; }
  &:visited { color: $f_color1; }
  &:hover {
    color: $f_color1;
    text-decoration: none;
   }
  &:active { color: $f_color1; }
}

label{
  font-size:0.8rem;
}

.help-button{
  margin:auto;
  text-align: center;
  line-height: 30px;
  display:block;
  font-weight: bold;
  width:30px;
  height:30px;
  background: $bg_color1;
  border-radius: 50%;

}

.map-wrapper{
  background: $bg_color1;
  margin:0;
  padding:0;
}


//popupデザイン
.leaflet-popup-content-wrapper, .leaflet-popup-tip{
  background:$bg_color3;
  a{
    color:$f_color2;
    font-size: 0.9rem;
    display: inline-block;
    padding:5px;
    border-radius: 10px;
    &:hover{
      background: #000000;
    }
  }
  div{
    color:$f_color2;
  }
}

.category {
  font-size: 0.8rem;
  background: $bg_color1;
  color: $f_color1;
  display: inline-block;
  padding:3px 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
}


#mapid {
  border-radius: 10px;
  border:0;
  box-shadow: 0px 0px 16px -6px rgba(0,0,0,0.6);
  z-index:10;
  cursor: pointer;
}

.result-message{
  h1{
    color:$f_color1;
  }
  p{
    color:$f_color1;
    font-size: 0.8rem;
  }
}

// #mapid2 {
//   width:300px;
//   height:600px;
// }

.map-index {
  width: 100%;
  height: 500px;
}

.map-fullsize{
  width:100%;
  height:100%;
  position:fixed !important;
  top:60px;
  left:0;
  z-index:10;
}

.map-mypage {
  width: 100%;
  height: 500px;
}

.search-bar {
  min-width: 400px;
}

.space-cols{
  bottom:10px;
  padding:5px 7px;
  z-index: 1000;
}

//ボタン系
.action-btn{
  display:inline-block;
  background:$bg_color3;
  border-radius: 20px;
  border: none;
  color:$f_color2;
  &:hover{
    background:$ac_color;
    color:$f_color2;
  }
}
.submit-btn{
  display:inline-block;
  background:$bg_color3;
  border-radius: 20px;
  border: none;
  color:$f_color1;
  &:hover{
    background:$ac_color;
    color:$f_color1;
  }
}

a.link-inshow{
  font-size: 0.8rem;
  display:inline-block;
  background:$bg_color3;
  border-radius: 15px;
  border: none;
  color:$f_color2;
  padding:0 10px;
  &:hover{
    background:$ac_color;
  }
}

.btn-inshow{
  font-size: 0.8rem;
  background:$bg_color3;
  border-radius: 15px;
  border: none;
  color:$f_color2;
  padding:0 1rem;
  padding:0 1rem;
  &:hover{
    background:$ac_color;
  }
}

.myindex-btn{
  display:inline-block;
  background:$bg_color2;
  border-radius: 20px;
  padding:0 15px;
  border: none;
  color:$bg_color1;
  &:hover{
    background:$ac_color;
    color:$f_color2;
  }
}

.gotoMyloc{
  display: inline-block;
  background:$bg_color1;
  font-size: 1rem;
  border:none;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  p{
    font-size:0.6rem;
    line-height: 0.6rem;
    margin:0;
  }
  &:hover{
    background:$ac_color;
    color:$f_color2;
    a{
      color: $f_color2;
    }
  }
  object{
    position: absolute;
    top:3px;
    right: 3px;
    a{
      text-align: center;
      vertical-align: middle;
      line-height: 100%;
      display: block;
      padding: 0;
      margin: 0;
      width:1.2rem;
      height:1.2rem;
      border-radius:50%;
      background: $bg_color3;
      color: $f_color2;
      font-size: 1rem;
    }
  }
}



//お気に入り機能
.like img{
  width:10px;
  height:10px;
}

.dislike img{
  width:10px;
  height:10px;
}

#favorite_area{
  font-size:0.7rem;
  background:$bg_color1;
  border-radius: 5px;
  padding:0 5px;
}

//検索
.category-input {
  input {
    opacity: 0;
    display: none;
  }
  label {
    background: $bg_color1;
    padding: 5px 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left:5px;
    border-radius: 15px;
    cursor: pointer;
    &:hover{
      background-color: $ac_color;
      color: $f_color2;
    }
  }
  input:checked + label{
    background-color: $ac_color;
    color: $f_color2;
  }
}

.search_form{
  // min-width: 200px;
}

.module {
  background: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0px 0px 16px -6px rgba(0,0,0,0.6);
}

//モーダル
#new_event_modal,#new_mylocation_modal{
  position: fixed;
  top: 4rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translate(0, 0) scale(1);
  transition: 0.2s;
  z-index: 1300;
  max-height: 700px;
  // width: 70%;
}

#introduction-modal{
  position: fixed;
  top: 4rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translate(0, 0) scale(1);
  transition: 0.2s;
  z-index: 1300;
  max-height: 700px;
  width:90%;
}

#edit_event_modal{
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translate(0, 0) scale(1);
  transition: 0.2s;
  z-index: 1300;
  max-width: 700px;
}

#show_event_modal{
  position: fixed;
  top: 4rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 0;
  transform: translate(0, 0) scale(1);
  transition: 0.2s;
  z-index: 1300;
  // width:80%;
  background: $bg_color2;
  h1{
    display:inline-block;
    margin-right:5px;
  }
  .event-image{
    img{
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
  }
  .avatar-m{
    width:50px;
    height:50px;
    position: absolute;
    top:-25px;
    right:0px;
    z-index: 1305;
    + span{
      visibility: hidden;
      display: inline-block;
      width:auto;
      padding:10px;
      position:absolute;
      background: $bg_color1;
      border-radius: 25px;
      color:$f_color1;
      font-size: 0.7rem;
      right:50px;
      top:-15px;
      box-shadow: 10px;
      z-index:1305;
    }
    &:hover{
      + span{
        visibility: visible;
      }
    }
  }
}

.overflow-wrap{
  height:450px;
  overflow-y: scroll;
}



#new_event_modal.hidden, #new_mylocation_modal.hidden, #edit_event_modal.hidden,#show_event_modal.hidden,#introduction-modal.hidden{
  visibility: hidden;
  transform: translate(0, 0) scale(0.8);
}


#mask {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1200;
  cursor: pointer;
}


#mask.hidden {
  opacity: 0;
  visibility: hidden;
}


.modal-wrapper{
  background: $bg_color2;
  width:auto;
  height:650px;
  min-width: 90%;
  // max-height:600px;
  overflow-x: hidden;
  overflow-y:scroll;
  .close-btn{
    cursor: pointer;
    display: block;
    width: 50px;
    height: 50px;
    margin:0;
    padding:0;
    position:fixed;
    top:-50px;
    left:0px;
    span{
      width: 100%;
      height: 4px;
      border-radius: 10px;
      &:nth-child(1){
        background: #fff;
        position:absolute;
        top: 25px;
        -webkit-transform: rotate(-45deg);
        -moz-transform   : rotate(-45deg);
        transform        : rotate(-45deg);
      }
      &:nth-child(2){
        position:absolute;
        top: 25px;
        background :#fff;
        -webkit-transform: rotate(45deg);
        -moz-transform   : rotate(45deg);
        transform        : rotate(45deg);
      }
    }
  }
  input{
    border:0;
    // font-size:1rem;
    border-radius:5px;
    color: $f_color1;
  }
  input.submit-btn{
    display:inline-block;
    background:$bg_color3;
    border-radius: 20px;
    border: none;
    color:$f_color2;
    &:hover{
      background:$ac_color;
      color:$f_color2;
    }
  }
}

.modal-mylocation{
  background: $bg_color2;
  height: auto;
  // width: 550px;
  // height:200px;
  overflow: auto;
  position:relative;

  input{
    border:0;
    // font-size:1rem;
    border-radius:5px;
    color: $f_color1;
    &[type="text"]{
      width:100%;
    }
  }
  .submit-btn{
    display:inline-block;
    background:$bg_color3;
    border-radius: 20px;
    border: none;
    color:$f_color2;
    &:hover{
      background:$ac_color;
      color:$f_color2;
    }
  }
}

.detail-modal{
  height:650px;
  .close-btn{
    cursor: pointer;
    display: block;
    width: 50px;
    height: 50px;
    margin:0;
    padding:0;
    position:fixed;
    top:-50px;
    left:0px;
    span{
      width: 100%;
      height: 4px;
      border-radius: 10px;
      &:nth-child(1){
        background: #fff;
        position:absolute;
        top: 25px;
        -webkit-transform: rotate(-45deg);
        -moz-transform   : rotate(-45deg);
        transform        : rotate(-45deg);
      }
      &:nth-child(2){
        position:absolute;
        top: 25px;
        background :#fff;
        -webkit-transform: rotate(45deg);
        -moz-transform   : rotate(45deg);
        transform        : rotate(45deg);
      }
    }
  }
}

.official-page{
  a{
    display: inline-block;
    padding: 0 10px;
    background: $bg_color1;
    font-weight: bold;
    color:$f_color1;
    border-radius: 10px;
    border: none;
    &:hover{
      color:$f_color2;
      background: $ac_color;
    }
  }
}

.event-card {
  width:250px;
  height:250px;
}
.card-link {
  display: block;
}

.font-s{
  font-size: 0.75rem;
}

.current-image{
  position: absolute;
  top: 0;
  left: 0;
  z-index:1000;
}

.avatar-m {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: $f_color2;
}

.avatar-s {
  width:30px;
  height:30px;
  margin:5px;
  border-radius: 50%;
  background:$f_color2;
}

//投稿フォーム
//カレンダー

.label-col{
  width:200px;
}

.calender {
  // width:150px;
  // height:30px;
  border:0;
  // font-size:1rem;
  border-radius:5px;
}

.must_need{
  color:red;
}

.description-form{
  border: none;
  border-radius: 5px;
  width:100%;
  height:100px;
  resize:none;
}

#event-post-image{
  @include imagebox(150px,150px);
  display:none;
  z-index: 1306;
}

.current-image{
  z-index: 1000;
  .event-image {
      width:150px;
      height:150px;
  }
  .user-image{
    width:100px;
    height:100px;
  }
}

.event-image-area{
  position: relative;
  width:150px;
  height:150px;
  .choice-box{
    @include imagebox(150px,150px);
    background-color: #d3d3d3;
    pointer-events: auto;
    line-height: 150px;
    text-align: center;
    z-index: 1305;
    opacity:0.5;
    border: 1px dashed black;
  }
}

//notice
.notice{
  background-color: $ac_color;
  border-radius: 5px;
  min-height: 40px;
  position:fixed;
  top:65px;
  right:5px;
  z-index:1002;
  display:flex;
  align-items:center;
  animation-name: fadeout;
  animation-duration: 5s;
  animation-timing-function: ease;
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  p{
    display: block;
    font-size: 0.8rem;
    color:$f_color2;
    text-align: center;
    vertical-align: middle;
    margin:0;
  }
}

#qrcode{
  margin-bottom:2rem;
}

footer{
  background: $bg_color2;
  padding-top:5rem;
  // position:absolute;
  // bottom:0;
  text-align: center;
  width:100%;

  p{
    color:$f_color1;
    font-size: 0.8rem;
    margin-bottom: 0;
  }
}

.popup{
  a{
    font-size: 0.8rem;
    display:inline-block;
    margin-right:5px;
  }
}

//hashtag
a.hashtag{
  display: inline-block;
  border: none;
  border-radius: 10px;
  background: $bg_color1;
  color: $f_color1;
}

.hashtag-index{
  a{
    display: inline-block;
    margin:5px 5px 5px 0 ;
    padding:0 10px;
    border: none;
    border-radius: 10px;
    background: $bg_color2;
    color: $f_color1;
    font-size: 0.9rem;
    &:hover{
      background: $ac_color;
      color: $bg_color2;
    }
  }
}

.slides{
  // overflow: hidden;
  .slide-item{
    width:90%;
    height:500px;
    background: $bg_color2;
    // position:relative;
    padding:2rem;
    display:flex !important;
    justify-content: center;
    align-items:center;
    .slide-content{
      width:90%;
      max-width:700px;
      height:auto;
    }
  }
}


//エラーメッセージ
#error_explanation{
  p{
    font-size: 0.7rem;
    line-height: 0.7rem;
    color:red;
  }
  h2{
    font-size: 0.7rem;
    line-height: 0.7rem;
    color:red;
  }
  li{
    font-size: 0.7rem;
    line-height: 0.7rem;
    color:red;
  }
}

.note{
  font-size: 0.8rem;
  margin:0;
}

.close-btn{
  cursor: pointer;
  display: block;
  width: 50px;
  height: 50px;
  margin:0;
  padding:0;
  position:fixed;
  top:-50px;
  left:0px;
  z-index:1350;
  span{
    width: 100%;
    height: 4px;
    border-radius: 10px;
    &:nth-child(1){
      background: #fff;
      position:absolute;
      top: 25px;
      -webkit-transform: rotate(-45deg);
      -moz-transform   : rotate(-45deg);
      transform        : rotate(-45deg);
    }
    &:nth-child(2){
      position:absolute;
      top: 25px;
      background :#fff;
      -webkit-transform: rotate(45deg);
      -moz-transform   : rotate(45deg);
      transform        : rotate(45deg);
    }
  }
}


.easy-button-button{
  cursor:pointer;
}


.shadow{
  box-shadow: 0px 0px 16px -6px rgba(0,0,0,0.6);
}
// .field{
//   margin:auto 0;
// }
