@import "./variables";

.slick-next{
    right:0!important;
}
.slick-prev{
    left:0!important;
}
.slick-arrow{
    width: initial!important;
    height: initial!important;
    z-index:1350!important;
    &:before{
      font-size: 30px!important;
      color: $f_color1!important;
    }
}

.slick-dots{
  bottom: 5px !important;
  li button:before{
    font-size: 10px!important;
  }
}
