@import "./variables";

@mixin imagebox($height: 100px, $width:100px){
  height: $height;
  width: $width;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
}

.users-form{
  background: $bg_color2;
  padding: 30px;
  width: 400px;
  border-radius: 5px;
  margin:50px auto;
  .flex-area{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    .center{
      display:block;
      width:190px;
      margin:0 auto;
    }
    .left{
      width:250px;
      margin:0;
    }
    .right{
      text-align: center;
      width:120px;
      margin:0;
    }
  }
  input{
    border:0;
    font-size:0.9rem;
    border-radius:5px;
    color: $f_color1;
  }
  i{
    font-size: 0.5rem;
  }
  em{
    font-size: 0.8rem;
  }
  .action-btn{
    display:inline-block;
    font-size: 0.8rem;
    padding:0 30px;
    background:$bg_color3;
    border-radius: 20px;
    border: none;
    color:$f_color2;
    &:hover{
      background:$ac_color;
      color:$f_color2;
    }
  }
  .link-btn {
    display:inline-block;
    font-size: 0.8rem;
    padding:0 30px;
    background:$bg_color3;
    border-radius: 20px;
    border: none;
    color:$f_color2;
    &:hover{
      background:$ac_color;
      color:$f_color2;
    }
  }
 }

 .post-image-area{
   position: relative;
   cursor: pointer;
   height:100px;
   width:100px;
   .choice-box{
     @include imagebox(100px,100px);
     background-color: #d3d3d3;
     pointer-events: none;
     line-height: 100px;
     width:100px;
     height:100px;
     text-align: center;
     vertical-align: middle;
     z-index: 3;
     border-radius: 50%;
     border: 1px dashed black;
     overflow-wrap:normal;
   }
   .user-image{
     z-index: 4;
     background:$bg_color1;
     border-radius: 50%;
   }
 }

 #post-image{
   @include imagebox(100px,100px);
   display:none;
 }
