// Place all the styles related to the mylocations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$main_color:#5BA8D6;
$ac_color:#FF9018;
$f_color1:#3D4343;
$f_color2:#ffffff;
$bg_color1:#ffffff;
$bg_color2:#f0f0f0;
$bg_color3:#3D4343;

// $ac_color:#FF9018;
// $f_color1:#3D4343;
// $f_color2:#ffffff;
// $bg_color1:#3D4343;
// $bg_color2:#f0f0f0;
