// Place all the styles related to the mylocations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$ac_color:#FF9018;
$f_color1:#3D4343;
$f_color2:#ffffff;
$bg_color1:#3D4343;
$bg_color2:#f0f0f0;
